.marquee {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 4px solid #F6F6F6;
    border-bottom: 4px solid #F6F6F6;
    color: #F6F6F6;
    width: 100%;
    height: 60px;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    overflow: hidden;
    white-space: nowrap;
}

.marqueeInner {
    display: block;
    width: 200%;
    position: absolute;
    animation: marquee 20s linear infinite;
}

span {
    float: left;
    width: 50%;
    overflow: hidden;
}

@keyframes marquee {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}