@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Archivo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mid-glow{
  filter: blur(100px);
  background: radial-gradient(circle, #8A011A, #D1212A, #F4A21D, #FF6D2B);
  opacity: 0.7;
  width: 30%;
  position: absolute;
  left: 40%;
}

.left-glow{
  filter: blur(100px);
  background: radial-gradient(circle, #8A011A, #D1212A, #F4A21D, #FF6D2B);
  opacity: 0.7;
  width: 30%;
  position: absolute;
  left: -10%;
}

.right-glow{
  filter: blur(100px);
  background: radial-gradient(circle, #8A011A, #D1212A, #F4A21D, #FF6D2B);
  opacity: 0.7;
  width: 30%;
  position: absolute;
  right: -10%;
}

.neon-yellow {
  text-shadow:
    0 0 8px rgba(230, 213, 59, 0.6), 
    0 0 16px rgba(230, 213, 59, 0.6), 
    0 0 32px rgba(230, 213, 59, 0.6), 
    0 0 40px rgba(230, 213, 59, 0.6), 
    0 0 56px rgba(230, 213, 59, 0.6), 
    0 0 64px rgba(229, 243, 88, 0.1),
    0 0 80px rgba(229, 243, 88, 0.05), 
    0 0 88px rgba(229, 243, 88, 0.025);
}

.neon-yellow-p {
  text-shadow:
    0 0 8px rgba(230, 213, 59, 0.6), 
    0 0 16px rgba(230, 213, 59, 0.6), 
    0 0 32px rgba(230, 213, 59, 0.6), 
    0 0 40px rgba(230, 213, 59, 0.6), 
    0 0 56px rgba(230, 213, 59, 0.6), 
    0 0 64px rgba(229, 243, 88, 0.1),
    0 0 80px rgba(229, 243, 88, 0.05), 
    0 0 88px rgba(229, 243, 88, 0.025);
}


.marquee {
  /* height: 25px; */
  width: 100%;

  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  /* height: 60px; */

  position: absolute;
  overflow: hidden;

  animation: marquee 5s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.cornerCutBtn{
  --slant: 0.7em;   /* control the slanted corners */
  
  clip-path: 
      polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
              100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
             );
}

.whiteCornerCutBtn{
  --border: 4px;    /* the border width */
  --slant: 0.7em;   /* control the slanted corners */
  --color: #fff; /* the color */
  
  border: none;
  color: var(--color);
  background: 
     linear-gradient(to bottom left,var(--color)  50%,#0000 50.1%) top right,
     linear-gradient(to top   right,var(--color)  50%,#0000 50.1%) bottom left;
  background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
  background-repeat: no-repeat;
  box-shadow:
    0 0 0 200px inset var(--s,#00000000),
    0 0 0 var(--border) inset var(--color);
  clip-path: 
      polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
              100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
             );
}